<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default bg-light">
			<div class="container-fluid">

				<ul class="nav navbar-nav navbar-left">
					<li routerLinkActive="active" class="navbar-header">
						<a class="navbar-brand">
							<label for="" appRenderHighlight>Punjabi Tadka</label>
              </a>
           </li>
          <li routerLinkActive="active">
            <a routerLink="/recipes" (click)="onRecipeClick()" *ngIf="isAuthenticated">
              Recipes
            </a>
           </li>
           <li routerLinkActive="active">
             <a routerLink="/shopping" (click)="onShoppingClick()" >
               Shopping List
             </a>
          </li>
           <li class="nav-item dropdown" appDropDown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="isAuthenticated">
          Manage<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
      <li><a style="cursor: pointer;" (click)="storeRecipe()">Save Data</a></li>
      <li><a style="cursor: pointer;" (click)="fetchRecipe()">Fetch Data</a></li>
       <li><a style="cursor: pointer;" (click)="resetRecipe()">Reset Data</a></li>
    </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
     <li routerLinkActive="active" class="navbar-header" >
						<a routerLink="/auth" class="navbar-brand" (click)="onRecipeClick()" *ngIf="!isAuthenticated">
							<label for="login">Login</label>
              </a>
           </li>
					<li>
						<a style="cursor: pointer;"  class="navbar-brand" *ngIf="isAuthenticated">
						<label for="logout">Logout</label>
              </a>
           </li>
    </ul>
    
 </div>
</nav>
 </div>
</div>
<div class="row" *ngIf="status != ''">
	<div class="col-xs-12">
<div [className]="alertType" role="alert">
 <a  class="close" data-dismiss="alert" aria-label="close" (click)="hideAlert()">&times;</a>

  <strong>{{status}}!</strong> {{statusMessage}}
</div>
  </div>
</div>