<div class="row">
  <div class="col-md-12">
<nav class="navbar navbar-default bg-light"> 
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><label for="" style="font-family: Impact;">Punjabi Tadka</label></a>
    </div>
    <ul class="nav navbar-nav">
      <li [class]="selectedPage === 'Recipe'?'active':'inactive'"><a href="#" (click)="onRecipeClick()">Recipes</a></li>
      <li [class]="selectedPage === 'Shopping'?'active':'inactive'"><a href="#" (click)="onShoppingClick()" >Shopping List</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
      </li>
    </ul>
 </div>
</nav>
  </div>
</div>